@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
@import './assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F9F9F9;
    color: #333333;
}

h1 {
    color: #0056D2;
}